{extend name="public/base" /}
{block name="body"}
<section class="content">
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">链接名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" value="{$info.name}" id="name" autocomplete="off" placeholder="请输入链接名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">链接地址：</label>
            <div class="layui-input-block">
                <input type="text" name="url" value="{$info.url}" id="url" autocomplete="off" placeholder="请输入链接地址" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">链接排序：</label>
            <div class="layui-input-block">
                <input type="number" name="sort" value="{$info.sort}" id="sort" autocomplete="off" placeholder="请输入链接序号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" value="{$info.id}" name="id">
                <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="submit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</section>
<script>
    layui.use(['layer', 'form'], function () {
        var form = layui.form,
            layer = layui.layer; //独立版的layer无需执行这一句
        //提交数据
        form.on('submit(submit)', function (data) {
            //验证表单
            if (!data.field.name) {
                layer.tips('请输入链接名称', '#name', { tips: 3 });
                return false;
            }
            if (!data.field.url) {
                layer.tips('请输入链接地址', '#url', { tips: 3 });
                return false;
            }
            //ajax提交
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{:url('editLink')}",
                data: data.field,
                success: function (data) {
                    if (data.code == 0) {
                        layer.msg(data.msg, {
                            time: 2000
                        }, function () {
                            location.href = data.data.url;
                        })
                    } else {
                        layer.msg(data.msg);
                    }
                },
                error: function (data) {
                    layer.msg("服务器开小差啦");
                }
            });
        })
    })
</script>
{/block}