<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>观海听潮 · 博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="screen" href="__ADMIN__/custom/css/style.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/custom/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/plugins/layui/css/layui.css" />
</head>
<style>
    .login{
        box-shadow: none;
        position: static;
        width:100%;
        height: auto;
        margin:0px;
    }
    .login-top{
        margin-top: 0px;
        /* margin-top:20px; */
        padding-top: 25px;
    }
    .remember {
        margin-top: 10px;
    }

    .remember .login-center-input {
        margin-left: 2px;
        color: #333333;
        width: 100%;
    }

    .remember .login-center-input:hover {
        cursor: pointer;
    }

    .remember input {
        width: 15px;
        height: 15px;
        vertical-align: middle;
    }

    .remember label {
        font-size: 12px;
    }

    .remember .auto {
        float: right;
        margin-right: 5px;
        cursor: pointer;
    }
</style>

<body>
    <div class="login">
        <div class="login-top">
            <div class="head-pic"><img src="__ADMIN__/custom/image/head-pic.jpg" alt="观海听潮"></div>
            <p>观海听潮博客</p>
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="__ADMIN__/custom/image/name.png" alt="邮箱"/></div>
            <div class="login-center-input">
                <input type="text" id="email" value="" autocomplete="off" placeholder="请输入您的QQ邮箱" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的QQ邮箱'" />
                <div class="login-center-input-text">QQ邮箱</div>
            </div>
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="__ADMIN__/custom/image/captcha.png" alt="验证码"/></div>
            <div class="login-center-input login-captcha">
                <input type="text" id="captcha" name="captcha" placeholder="邮箱验证码" autocomplete="off" onfocus="this.placeholder=''" onblur="this.placeholder='邮箱验证码'" />
                <div class="login-center-input-text">邮箱验证码</div>
            </div>
            <button class="layui-btn layui-btn-normal" style="width:100px;height:30px;line-height:30px;cursor: pointer;" onclick="send_code();">点击发送</button>
        </div>
        <div class="login-center clearfix" style="margin-bottom:0px;">
            <div class="login-center-img"><img src="__ADMIN__/custom/image/password.png" alt="密码"/></div>
            <div class="login-center-input">
                <input type="password" id="password" value="" placeholder="请输入您的密码" autocomplete="new-password" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'" />
                <div class="login-center-input-text">密码</div>
            </div>
        </div>
        
        <div class="login-center remember">
            <div class="login-center-input">
                <label><input type="checkbox" id="remember" value="0">&nbsp;记住密码</label>
            </div>
        </div>
        <div class="login-button">
            注册
        </div>
    </div>

    <!-- scripts -->
    <script src="__ADMIN__/plugins/jquery/dist/jquery.min.js"></script>
    <script src="__ADMIN__/plugins/jquery/dist/jquery.cookie.js"></script>
    <script src="__ADMIN__/plugins/layui/layui.js"></script>
    <script type="text/javascript">
        layui.use('layer', function () {
            var layer = layui.layer;
            //记住密码点击事件
            $('#remember').click(function () {
                var checked = $(this).prop('checked');
                if (checked) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
            })
            //验证QQ邮箱
            function test_email(email){
                var reg = /^\d{5,12}@[qQ][qQ]\.(com|cn)$/;
                return reg.test(email); 
            }
            //点击发送
            window.send_code = function(){
                var email = $('#email').val();
                if(!email){
                    layer.tips('请输入QQ邮箱', '#email', { tips: 1 });
                    return false;
                }
                if(!test_email(email)){
                    layer.tips('邮箱格式不正确', '#email', { tips: 1 });
                    return false;
                }
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "{:url('index/send_code')}?email="+email,
                    success: function (data) {
                        layer.msg(data.msg, {
                            time: 2000
                        });
                    },
                    error: function (data) {
                        layer.msg("服务器开小差啦");
                    }
                });

            }
            //回车键点击事件
            $(document).keydown(function (event) {
                if (event.keyCode == 13) {
                    $(".login-button").click();
                }
            });
            $('.login-button').click(function () {
                var email = $('#email').val();
                var password = $('#password').val();
                var captcha = $('input[name="captcha"]').val();
                if (!email) {
                    layer.tips('请输入QQ邮箱', '#email', { tips: 1 });
                    return false;
                }
                if(!test_email(email)){
                    layer.tips('邮箱格式不正确', '#email', { tips: 1 });
                    return false;
                }
                if (!password) {
                    layer.tips('请输入密码', '#password', { tips: 1 });
                    return false;
                }
                if (!captcha) {
                    layer.tips('请输入验证码', '#captcha', { tips: 1 });
                    return false;
                }
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "{:url('index/regist')}",
                    async: false,
                    data: {
                        'email': email,
                        'password': password,
                        'captcha': captcha,
                        'remember': $('#remember').val(),
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            layer.msg(data.msg, {
                                time: 2000
                            }, function () {
                                layer.closeAll();
                                top.location.href = data.data.url;
                            })
                        } else {
                            layer.msg(data.msg);
                        }
                    },
                    error: function (data) {
                        layer.msg("服务器开小差啦");
                    }
                });
            })
        });
    </script>

</body>

</html>